@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Onest,sans-serif
}

body {
  max-width: 100vw
}

button {
  cursor: pointer
}

a {
  text-decoration: none
}

.skeleton {
  background-color: #dddbdd;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.2) 20%,
    hsla(0, 0%, 100%, 0.5) 60%,
    hsla(0, 0%, 100%, 0)
  );
  animation: shimmer 2s infinite;
  transform: translateX(-100%);
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.disabled {
  cursor: not-allowed!important
}

.container {
  padding: 60px 0
}

.row {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px
}

.page-wrapper {
  display: flex
}

.page-content {
  display: flex;
  flex-direction: column;
  margin-left: 230px;
  width: calc(100% - 230px)
}

.embla {
  overflow: hidden;
  width: 100%
}

.embla__container {
  display: flex;
  width: 100%;
  margin-left: calc(19px * -1)
}

.embla__slide {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% / 7);
  min-width: 0;
  padding-left: 20px;
  padding-top: 10px;
  height: min-content
}

@media (max-width: 1600px) {
  .embla__slide {
      flex-grow:0;
      flex-shrink: 0;
      flex-basis: calc(100% / 6)
  }
}

@media (max-width: 1300px) {
  .embla__slide {
      flex-grow:0;
      flex-shrink: 0;
      flex-basis: calc(100% / 5)
  }
}

@media (max-width: 1200px) {
  .embla__slide {
      flex-grow:0;
      flex-shrink: 0;
      flex-basis: calc(100% / 4)
  }
}

@media (max-width: 980px) {
  .embla__slide {
      flex-grow:0;
      flex-shrink: 0;
      flex-basis: calc(100% / 3)
  }
}

@media (max-width: 560px) {
  .embla__slide {
      flex-grow:0;
      flex-shrink: 0;
      flex-basis: calc(100% / 2)
  }
}

nav {
  padding: 18px 30px;
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  background: #fff;
  box-shadow: 0 3px 12px rgba(0,0,0,.1)
}

.nav__logo {
  height: 100%
}

.nav__links {
  display: flex;
  gap: 16px
}

.nav__link {
  font-size: 14px;
  padding: 7px 14px;
  color: #070707;
  font-weight: 600;
  border-radius: 8px;
  transition: .3s;
  cursor: not-allowed
}

.nav__link:hover {
  background-color: #0000000f
}

.nav__button {
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: .2s ease;
  background-color: #00000019;
  border: none
}

.nav__button:hover {
  color: #fff;
  background: #000;
  transform: scale(1.1)
}

header {
  background: linear-gradient(120deg,#70acd4,#ca71ff 20%,#8469cc 30%,#4882e6 50%,#8469cc 70%,#70acd4);
  background-size: 200% 200%;
  animation: gradient-animation 20s ease-in-out infinite alternate;
  padding: 208px 0;
  height: 90vh;
  display: flex;
  align-items: center;
  position: relative
}

@keyframes gradient-animation {
  0% {
      background-position: 0 100%
  }

  to {
      background-position: 100% 100%
  }
}

.header__row {
  flex-direction: column;
  justify-content: center
}

.header__row,.header__widget {
  display: flex;
  align-items: center
}

.header__widget {
  padding: 5px 13px 3px;
  background: #ffffff26;
  border-radius: 20px;
  font-size: 10px;
  line-height: 11px;
  font-weight: 700;
  gap: 6px;
  margin-bottom: 32px
}

.header__widget__title {
  color: #fff
}

.header__widget__emoji {
  font-size: 6px
}

.header__widget__description {
  color: #e5e6e6;
  opacity: 60%
}

.header__title {
  font-size: 84px;
  font-weight: 700;
  letter-spacing: -2.1px;
  line-height: 77px;
  text-align: center;
  color: #fff;
  margin-bottom: 28px
}

.header__title__icon {
  transform: translateY(4px)
}

.header__paragraph {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  max-width: 480px;
  width: 100%;
  opacity: .75;
  color: #e5e6e6;
  text-align: center;
  margin-bottom: 20px
}

.header__button {
  padding: 12px 16px;
  font-weight: 600;
  background-color: rgba(0,0,0,.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 20px;
  gap: 16px;
  border-radius: 48px;
  height: 64px;
  cursor: pointer;
  transition: .3s;
  border: none
}

.header__button:hover {
  background-color: rgba(0,0,0,.2)
}

.header__button__iconWrapper {
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  background-color: #fff;
  color: #37393d;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center
}

.header__button__icon {
  width: 16px;
  height: 16px;
  font-size: 12px;
  display: flex!important;
  justify-content: center;
  align-items: center
}

.header__button__text {
  color: #fff
}

.header__svg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: auto;
  width: 100%;
  display: block;
  fill: #f9f9fb
}

#features {
  margin-top: 40px
}

.features__row {
  display: flex;
  flex-direction: column;
  align-items: center
}

.features__title {
  font-size: 53px;
  font-weight: 700;
  letter-spacing: -1.59px;
  margin-bottom: 20px;
  text-align: center
}

.features__para {
  font-size: 18px;
  line-height: 1.27em;
  text-align: center;
  color: #3c4b62;
  margin-bottom: 40px;
  max-width: 500px;
  width: 100%;
  font-weight: 400
}

.features__list {
  display: flex;
  flex-wrap: wrap
}

.feature {
  width: calc(100% / 3);
  padding: 18px;
  display: flex;
  gap: 20px
}

.feature__iconWrapper {
  flex: 0 0 44px;
  height: 44px;
  color: #1f2328;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: .3s
}

.feature:hover .feature__iconWrapper {
  transform: scale(1.05);
  background: #1e2227;
  color: #fff
}

.feature__icon {
  width: 16px
}

.feature__text__title {
  color: #2c2e48;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 12px;
  letter-spacing: -.5px
}

.feature__text__para {
  font-size: 14px;
  line-height: 24px;
  color: rgba(44,46,72,.6)
}

.summary__row {
  border-radius: 50px;
  border: 1px solid #e5e7eb;
  padding: 80px;
  display: flex;
  justify-content: space-between
}

.summary__figure,.summary__text {
  width: 47%
}

.summary__widget {
  background: #dde6ff;
  padding: 5px 13px 3px;
  border-radius: 20px;
  font-size: 12px;
  line-height: 11px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 110px;
  width: -moz-fit-content;
  width: fit-content
}

.summary__widget__title {
  color: #1e2227
}

.summary__widget__emoji {
  font-size: 6px;
  opacity: .6
}

.summary__widget__description {
  opacity: .6
}

.summary__title {
  font-size: 39px;
  font-weight: 700;
  color: #1e2227;
  letter-spacing: -1.17px;
  line-height: 40.95px;
  margin-bottom: 25px
}

.summary__para {
  font-size: 17px;
  line-height: 1.47em;
  color: #7e7f8e
}

.summary__figure {
  padding: 30px;
  background: #dde6ff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.summary__figure__img {
  width: 100%;
  border-radius: 12px;
  height: auto
}

.summary__figure__caption1 {
  color: #4a4a4a;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: -.17px;
  line-height: 18.7px;
  margin-top: 36px;
  margin-bottom: 8px;
  text-align: center
}

.summary__figure__caption2 {
  color: #4a4a4a;
  font-size: 12px
}

.steps__row {
  background-image: url(webpack:///mini-css-extract-plugin/_next/static/media/steps-bg.62fd6026.jpg);
  border-radius: 50px;
  background-color: #010101;
  background-size: cover;
  padding: 96px 40px;
  color: #fff;
  color: hsla(0,0%,100%,.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center
}

.steps__title {
  font-size: 64px;
  color: #e5e6e6;
  line-height: 1;
  letter-spacing: -1.92px;
  max-width: 430px;
  width: 100%;
  margin-bottom: 56px
}

.steps__list {
  display: flex;
  position: relative
}

.step-divider {
  border-top: 1px solid #ffffff1a;
  width: 70%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,32px)
}

.step {
  flex-direction: column;
  padding: 0 20px
}

.step,.step__number {
  display: flex;
  align-items: center;
  transition: .4s
}

.step__number {
  width: 64px;
  height: 64px;
  border: 2px solid hsla(0,0%,100%,.17);
  background: #010101;
  border-radius: 50%;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  margin-bottom: 40px;
  position: relative;
  z-index: 2
}

.step__para {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  max-width: 280px;
  width: 100%
}

.step:hover {
  transform: translateY(-12px)
}

.step:hover .step__number {
  background-color: #fff;
  color: #010101;
  transform: scale(1.1)
}

.testimonials__row {
  border-radius: 50px;
  border: 1px solid #e5e7eb;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/assets/world-map.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  background-color: #f6f6f6
}

.testimonials__title {
  font-size: 52px;
  margin-bottom: 40px;
  text-align: center
}

.testimonials__widget {
  background-color: #28027c1f;
  padding: 5px 13px 3px;
  border-radius: 20px;
  font-size: 12px;
  line-height: 11px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px;
  width: -moz-fit-content;
  width: fit-content;
  color: #28027c
}

.testimonials__widget__emoji {
  font-size: 6px;
  opacity: .6
}

.testimonials__widget__description {
  opacity: .6
}

.testimonials__list {
  display: flex;
  gap: 40px
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center
}

.testimonial__img {
  width: 77px;
  height: 77px;
  margin-bottom: 8px
}

.testimonial__name {
  font-size: 15px;
  color: #1e2227;
  font-weight: 700
}

.testimonial__occupation {
  font-size: 15px;
  color: rgba(0,0,0,.2);
  font-weight: 500
}

.testimonial__para {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
  max-width: 280px;
  text-align: center
}

footer {
  background: radial-gradient(circle at 0 -30%,#a12a91,rgba(33,13,123,.83),transparent,transparent,transparent);
  background-color: #000;
  margin-top: 120px;
  color: #fff
}

.cta__svg {
  fill: #f9f9fb;
  width: 100%
}

.cta__row {
  display: flex;
  flex-direction: column;
  align-items: center
}

.cta__widget {
  margin-bottom: 36px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px
}

.cta__widget__logo {
  padding: 4px 12px;
  background-color: #262626;
  border-radius: 12px;
  margin-right: 8px
}

.cta__title {
  font-size: 100px;
  max-width: 569px;
  line-height: 100px;
  margin-bottom: 32px
}

.cta__para,.cta__title {
  width: 100%;
  text-align: center
}

.cta__para {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  opacity: .5;
  max-width: 440px;
  margin-bottom: 36px
}

.cta__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: #fff;
  border-radius: 12px;
  padding: 16px 28px;
  font-weight: 600;
  background-color: #1a1a1a;
  border: none;
  transition: .3s
}

.cta__button:hover {
  scale: 1.1
}

.cta__button__icon {
  width: 14px;
  height: auto
}

#links {
  width: 100%;
  border-top: 1px solid #ffffff1f;
  border-bottom: 1px solid #ffffff1f
}

.links__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px 20px
}

.links__logo {
  width: 132px
}

.links__list {
  display: flex;
  gap: 30px
}

.links__link {
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: not-allowed
}

.links__link__icon {
  width: 14px;
  margin-right: 12px
}

.copyright__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px 20px
}

.copyright__form {
  display: flex;
  gap: 12px
}

.copyright__form__input {
  padding: 20px 28px;
  border-radius: 8px;
  outline: none;
  font-size: 16px
}

.copyright__form__button,.copyright__form__input {
  background: #ffffff11;
  border: none;
  color: #fff;
  width: 100%
}

.copyright__form__button {
  padding: 18px 30px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 8px;
  cursor: not-allowed
}

.copyright__text {
  color: #e5e6e6;
  font-size: 14px
}

.modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  height: 640px;
  padding: 32px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: #fff;
  outline: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 12px;
  height: auto;
  color: #1f2328;
  cursor: pointer
}

.modal__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 800;
  color: #1f2328
}

.modal__buttons {
  display: flex;
  flex-direction: column;
  gap: 12px
}

.modal__button {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 20px;
  color: #404654;
  border: 3px solid #ebebeb;
  background: #fff;
  transition: .3s
}

.modal__button:hover {
  transform: translateY(-2px)
}

.modal__button__icon {
  width: 16px;
  height: 16px
}

.break {
  margin: 24px 0;
  display: flex;
  align-items: center;
  gap: 32px;
  color: rgba(0,0,0,.6)
}

.break__line {
  height: 1px;
  width: 100%;
  background-color: rgba(64,70,84,.1)
}

.break__or {
  font-size: 13px
}

.modal__form {
  align-items: end;
  gap: 16px
}

.modal__form,.modal__form__field {
  display: flex;
  flex-direction: column
}

.modal__form__field {
  gap: 12px;
  width: 100%
}

.modal__form__field__label {
  font-size: 13px;
  font-weight: 500;
  color: #667085
}

.modal__form__field__input {
  padding: 8px 16px;
  height: 44px;
  outline: none;
  border: 1px solid #ebebeb;
  border-radius: 12px;
  width: 100%
}

.modal__form__forgotPassword {
  font-size: 13px;
  color: #4f46e5;
  margin-bottom: 12px;
  cursor: pointer
}

.modal__form__submit {
  width: 100%;
  height: 44px;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 9999px;
  background-color: #320580;
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center
}

.modal__bottom {
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  display: flex;
  justify-content: center;
  gap: 4px
}

.modal__bottom__link {
  text-decoration: underline;
  color: #4f46e5;
  cursor: pointer
}

.spinner-wrapper {
  width: 100%;
  display: flex;
  justify-content: center
}

.spinner {
  display: flex;
  animation: spin .8s infinite
}

@keyframes spin {
  0% {
      transform: rotate(0deg)
  }

  to {
      transform: rotate(1turn)
  }
}

.modal__success {
  color: #2bd97c;
  margin-bottom: 16px
}

.modal__error {
  color: #f56c6c;
  margin-bottom: 16px;
  font-size: 14px
}

.page-row {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  margin: 0 auto
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #242424;
  transition: opacity .4s ease 0s;
  z-index: 10;
  opacity: .5;
  pointer-events: auto
}

.sidebar-overlay--hidden {
  opacity: 0;
  pointer-events: none
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all .3s;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-right: 1px solid #f1f3f4;
  width: 230px;
  height: 100vh;
  background: #fff
}

.sidebar__logo {
  margin: 0 24px
}

.sidebar__links {
  display: flex;
  flex-direction: column
}

.sidebar__links__title {
  font-size: 10px;
  font-weight: 500;
  color: #565b67;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 24px 8px
}

.sidebar__link {
  margin: 2px 12px;
  padding: 12px;
  border-radius: 12px;
  color: #565b67;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: .1s;
  cursor: pointer
}

.sidebar__link__icon {
  width: 15px;
  height: 15px
}

.active-link,.sidebar__link:hover {
  color: #320580;
  background-color: #3205800b
}

.searchbar {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #f1f3f4
}

.searchbar__row {
  gap: 20px;
  position: relative
}

.searchbar__field {
  background: #f1f1f3;
  display: flex;
  align-items: center;
  height: 44px;
  border-radius: 9999px;
  max-width: 435px;
  position: relative;
  width: 100%
}

.searchbar__field__icon {
  opacity: .75;
  transform: translateY(-50%);
  width: 20px;
  position: absolute;
  top: 50%;
  left: 12px
}

.searchbar__field__input {
  padding: 8px 16px 8px 40px;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background: transparent;
  outline: none;
  border: none;
  font-size: 13px;
  font-weight: 500
}

.searchbar__menu {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  cursor: pointer;
  display: none
}

.searchbar__movies {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  width: 100%;
  max-width: 440px;
  overflow-y: auto;
  max-height: 440px;
  margin-left: auto;
  top: 80px;
  left: 32px;
  border: 1px solid #e1e7ea;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.14);
  z-index: 10;
  border-radius: 20px
}

.searchbar__movies--open {
  display: flex
}

.searchbar__movies__header {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #e1e7ea;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2
}

.searchbar__movies__header__title {
  font-size: 16px;
  font-weight: 700;
  color: #1f2328
}

.searchbar__movie {
  display: flex;
  align-items: center;
  padding: 24px;
  gap: 24px;
  height: 120px;
  border-bottom: 1px solid #e1e7ea;
  transition: .15s;
  color: #000
}

.searchbar__movie:last-child {
  border-bottom: none
}

.searchbar__movie:hover {
  background-color: #f1f6f4
}

.searchbar__movie__img {
  width: auto;
  height: 88px;
  min-height: 88px;
  border-radius: 4px
}

.searchbar__movie__details {
  display: flex;
  flex-direction: column
}

.searchbar__movie__director,.searchbar__movie__title {
  margin-bottom: 6px
}

.searchbar__movie__title {
  font-size: 16px;
  font-weight: 500
}

.searchbar__movie__director,.searchbar__movie__duration {
  font-size: 14px;
  font-weight: 300;
  color: #6b757b
}

.searchbar__movie__duration {
  display: flex;
  align-items: center;
  gap: 4px
}

.searchbar__movies__noResults {
  padding: 24px;
  text-align: center;
  font-weight: 500;
  color: #1f2328
}

.searchbar__movies__noResults__subtitle {
  opacity: .7
}

.header {
  width: 100%;
  padding: 24px 0;
  border-bottom: 1px solid #f1f3f4
}

.header__text__subtitle {
  color: rgba(64,70,84,.7);
  font-size: 14px;
  margin-top: 4px
}

.header__text__title {
  font-size: 33px
}

.selected {
  padding-top: 40px
}

.selected__row {
  flex-direction: column;
  align-items: start
}

.selected__title {
  font-size: 22px;
  font-weight: 700
}

.selected__subtitle {
  color: rgba(64,70,84,.7);
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 16px
}

.selected__list {
  display: flex;
  max-width: 100%;
  width: 100%
}

.movie {
  text-decoration: none;
  color: #000
}

.movie__img__wrapper {
  height: auto;
  aspect-ratio: 2/3;
  margin-bottom: 4px;
  border-radius: 12px;
  position: relative
}

.movie__pill {
  background-color: rgba(50,5,128,.767);
  border-radius: 24px;
  color: #fff;
  font-size: 10px;
  font-weight: 300;
  left: 50%;
  padding: 3px 10px;
  position: absolute;
  top: -10px;
  transform: translateX(-50%)
}

.movie__img {
  width: 100%;
  height: 100%;
  border-radius: 12px
}

.movie__text {
  display: flex;
  flex-direction: column;
  width: 100%
}

.movie__title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4px
}

.movie__director {
  font-size: 12px;
  color: rgba(64,70,84,.7);
  font-weight: 300;
  margin-bottom: 4px
}

.movie__details {
  display: flex;
  gap: 8px
}

.movie__detail {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  font-weight: 300;
  color: rgba(64,70,84,.7)
}

.top {
  padding: 40px 0 88px
}

.top__row {
  flex-direction: column;
  align-items: start
}

.top__title {
  font-size: 22px;
  font-weight: 700
}

.top__subtitle {
  color: rgba(64,70,84,.7);
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 16px
}

.top__list {
  display: flex;
  max-width: 100%;
  width: 100%
}

.movieDetails__row {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: start
}

.movieDetails__content {
  display: flex;
  flex-direction: column;
  width: 100%
}

.movieDetails__title {
  font-size: 36px;
  margin-bottom: 4px;
  font-weight: 600
}

.movieDetails__director {
  margin-bottom: 8px;
  font-weight: 400;
  color: rgba(64,70,84,.7)
}

.movieDetails__tagline {
  font-size: 18px;
  margin-bottom: 16px;
  font-weight: 300;
  font-style: italic
}

.movieDetails__details__wrapper {
  border-top: 1px solid #e1e7ea;
  border-bottom: 1px solid #e1e7ea;
  padding: 16px 0;
  margin-bottom: 24px
}

.movieDetails__details {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  row-gap: 12px
}

.movieDetails__detail {
  display: flex;
  align-items: center;
  width: 50%;
  font-weight: 400;
  font-size: 14px;
  gap: 6px
}

.movieDetails__button {
  justify-content: center;
  max-width: 280px;
  width: 100%;
  height: 48px;
  background: #320580;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  transition: opacity .2s;
  border: none;
  margin-bottom: 24px
}

.movieDetails__bookmark,.movieDetails__button {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px
}

.movieDetails__bookmark {
  color: #0365f2;
  font-weight: 500;
  margin-bottom: 40px;
  font-size: 18px;
  transition: color .2s
}

.movieDetails__subtitle {
  font-size: 18px;
  margin-bottom: 16px;
  font-weight: 600
}

.movieDetails__genres {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px
}

.movieDetails__genre {
  background-color: #f1f6f4;
  padding: 0 16px;
  height: 48px;
  display: flex;
  align-items: center;
  font-weight: 500;
  border-radius: 4px;
  transition: background-color .2s
}

.movieDetails__img__wrapper {
  width: 200px;
  min-width: 200px;
  aspect-ratio: 2/3;
  margin-left: 32px;
  border-radius: 12px;
  overflow: hidden
}

.movieDetails__img {
  width: 100%;
  height: 100%
}

.playerSummary {
  padding-top: 40px;
  position: relative;
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 160px)
}

.playerSummary__row {
  display: flex;
  flex-direction: column
}

.playerSummary__title {
  width: 100%;
  font-size: 24px;
  padding-bottom: 16px;
  margin-bottom: 32px;
  border-bottom: 1px solid #e1e7ea
}

.playerSummary__para {
  white-space: pre-line;
  line-height: 1.4;
  padding-bottom: 40px
}

.playerSummar__spinner__icon
.MuiCircularProgress-circle {
  font-size: 28px;
  /* color: black */
}

.spinner__icon {
  width: 14px !important;
  height: 14px !important;
}

.audio {
  width: 100%;
  height: 80px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #042330;
  color: #fff;
  border-top: 1px;
  padding: 0 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9998
}

.audio__controls,.audio__progress,.audio__track {
  width: calc(100% / 3)
}

.audio__track {
  display: flex;
  gap: 12px;
}

.audio__track__img__wrapper {
  display: flex;
  max-height: 40px;
  height: 48px;
  min-height: 48px;
  width: auto;
}

.audio__track__img {
  width: 100%;
  height: 100%;
}

.audio__track__details {
  color: #fff;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center
}

.audio__track__director {
  color: #bac8ce
}

.audio__controls__btn,.audio__controls__wrapper {
  display: flex;
  align-items: center;
  justify-content: center
}

.audio__controls__wrapper {
  gap: 12px
}

.audio__controls__btn {
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: transparent
}

.audio__controls__btn__icon {
  width: 20px;
  height: 20px;
  transition: all .2s;
  color: #fff
}

.audio__controls__btn--play {
  width: 40px;
  height: 40px;
  background: #fff
}

.audio__controls__btn__icon--play {
  color: #000
}

.audio__progress {
  display: flex;
  align-items: center;
  gap: 16px
}

.audio__time {
  color: #fff;
  font-size: 14px;
  width: 32px
}

.audio__range {
  border-radius: 8px;
  height: 4px;
  max-width: 300px;
  width: 100%;
  cursor: pointer;
  outline: none;
  appearance: none
}

.plans__row {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 24px;
  padding-bottom: 24px
}

.plans__title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px
}

.plans__list {
  display: flex;
  gap: 12px;
  width: 100%
}

.plan {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 28px;
  box-shadow: 0 7px 20px rgba(0,0,0,.04);
  border-radius: 24px;
  border: 1px solid #f1f3f4
}

.plan__price {
  margin-bottom: 8px;
  display: flex;
  align-items: start;
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  gap: 4px
}

.plan__price__dollar {
  font-size: 18px;
  font-weight: 400
}

.plan__price__frequency {
  font-size: 15px;
  font-weight: 500;
  margin-left: 4px;
  margin-top: 8px
}

.plan__name {
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  opacity: .5;
  margin-bottom: 8px
}

.plan__features {
  margin: 24px 0
}

.plan__feature {
  display: flex;
  gap: 8px;
  margin-bottom: 12px
}

.plan__feature__icon {
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  color: #320580;
  background-color: rgba(50,5,128,.1);
  display: flex;
  justify-content: center;
  align-items: center
}

.plan__feature__text {
  color: #1f2328
}

.plan__button {
  margin-top: 60px;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 9999px;
  background-color: #320580;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44px;
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
  border: none
}

.faq__row {
  gap: 8px;
  padding-bottom: 40px
}

.accordion,.faq__row {
  flex-direction: column
}

.accordion {
  display: flex;
  padding: 24px 24px 16px;
  border-radius: 24px;
  border: 1px solid #f1f3f4;
  width: 100%
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 16px 0;
  gap: 8px
}

.accordion__title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 0
}

.accordion__icon {
  color: #4a4a4a;
  width: 20px;
  min-width: 20px;
  height: 20px;
  transition: .35s
}

.rotate {
  transform: rotate(45deg)
}

.accordion__content {
  overflow: hidden;
  height: 0;
  transition: .35s ease
}

.accordion__description {
  font-weight: 400;
  font-size: 16px;
  overflow: hidden;
  color: #6b7280
}

.settings__row {
  flex-direction: column;
  align-items: start;
  padding-top: 40px
}

.settings__title {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 16px
}

.settings__detail,.settings__title {
  margin-bottom: 32px;
  border-bottom: 1px solid #e1e7ea;
  width: 100%
}

.settings__detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding-bottom: 24px
}

.settings__detail__title {
  font-size: 18px;
  font-weight: 600
}

.settings__detail__button {
  color: #fff;
  background-color: #320580;
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px
}

.settings__login {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto
}

.settings__login__img {
  width: 100%;
  height: 100%
}

.settings__login__text {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px
}

.settings__login__button {
  background-color: #320580;
  color: #fff;
  width: 100%;
  height: 56px;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color .2s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 180px
}

.favourites__row {
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: start
}

.favourites__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px
}

.favourites__subtitle {
  font-size: 18px;
  font-weight: 300;
  color: rgba(64,70,84,.7);
  padding-bottom: 16px;
  margin-bottom: 32px;
  border-bottom: 2px solid #f1f3f4;
  width: 100%
}

.favourites__movies {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 32px
}

.favourites__movies__placeholder {
  background-color: #f1f6f4;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 32px;
  border-radius: 12px;
  margin: 0 auto 56px;
  text-align: center
}

.favourites__spinner {
  margin-top: 20px
}

.favourites__spinner__icon {
  font-size: 32px
}

.favourites__movies__login {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto
}

.favourites__movies__login__img {
  width: 100%;
  height: 100%
}

.favourites__movies__login__text {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px
}

.favourites__movies__login__button {
  background-color: #320580;
  color: #fff;
  width: 100%;
  height: 44px;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color .2s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 180px
}

@media (max-width: 1280px) {
  .steps__row,.summary__row,.testimonials__row {
      margin-left:20px;
      margin-right: 20px
  }
}

@media (max-width: 1024px) {
  .nav__links {
      display:none
  }

  .summary__widget {
      margin-bottom: 60px
  }

  .summary__title {
      font-size: 32px
  }

  .summary__para {
      font-size: 15px
  }

  .testimonials__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center
  }

  .movieDetails__row {
      flex-direction: column-reverse
  }

  .movieDetails__img__wrapper {
      margin: 0 auto 24px
  }

  .plan__feature__text {
      font-size: 14px
  }

  .accordion__title {
      font-size: 18px
  }

  .accordion__description {
      font-size: 14px
  }
}

@media (max-width: 768px) {
  .feature {
      width:calc(100% / 2)
  }

  .summary__row {
      flex-direction: column;
      gap: 48px
  }

  .summary__figure,.summary__text {
      width: 100%
  }

  .summary__widget {
      margin-bottom: 20px
  }

  .steps__list {
      flex-direction: column;
      gap: 32px
  }

  .step-divider {
      display: none
  }

  .step__number {
      margin-bottom: 20px
  }

  .step__para {
      max-width: 100%
  }

  .copyright__container {
      flex-direction: column;
      gap: 24px
  }

  .copyright__form {
      flex-direction: column
  }

  .copyright__form__input {
      text-align: center
  }

  .sidebar {
      position: fixed;
      transform: translateX(-100%)
  }

  .sidebar--open {
      transform: translateX(0)
  }

  .page-content {
      width: 100%;
      margin-left: 0
  }

  .searchbar__menu {
      display: block
  }

  .playerSummary {
      height: calc(100vh - 180px)
  }

  .playerSummary__para {
      padding-bottom: 100px
  }

  .audio {
      flex-direction: column;
      height: 180px;
      padding: 16px 24px
  }

  .audio__controls,.audio__progress,.audio__track {
      width: 100%
  }

  .audio__progress,.audio__track {
      justify-content: center
  }
}

@media (max-width: 640px) {
  .header__title {
      font-size:68px
  }

  .header__title__icon {
      width: 40px
  }

  .feature {
      width: calc(100%)
  }

  .summary__row {
      padding: 60px 40px
  }

  .cta__title {
      font-size: 92px
  }

  .links__container {
      flex-direction: column;
      align-items: center;
      gap: 28px
  }

  .links__list {
      justify-content: center
  }

  .links__list,.plans__list {
      flex-wrap: wrap
  }

  .plan {
      width: 100%
  }
}

@media (max-width: 480px) {
  nav {
      padding-left:10px;
      padding-right: 10px
  }

  .nav__button {
      font-size: 14px
  }

  .header__title {
      font-size: 52px;
      line-height: 50px
  }

  .header__title__icon {
      display: none
  }

  .features__title {
      font-size: 44px;
      line-height: 50px
  }

  .features__para {
      font-size: 16px
  }

  .summary__row {
      padding: 48px 16px;
      border-radius: 32px;
      gap: 20px
  }

  .summary__figure {
      padding: 16px
  }

  .summary__figure__caption1,.summary__figure__caption2 {
      display: none
  }

  .summary__title {
      margin-bottom: 12px;
      font-size: 32px
  }

  .summary__para {
      font-size: 13px
  }

  .steps__row {
      padding: 60px 20px
  }

  .steps__title,.testimonials__title {
      font-size: 40px;
      margin-bottom: 32px
  }

  .step__number {
      width: 52px;
      height: 52px
  }

  .step__para {
      font-size: 14px
  }

  .testimonials__row {
      padding: 60px 20px
  }

  .cta__widget {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px
  }

  .cta__title {
      font-size: 56px;
      line-height: 1
  }

  .cta__para {
      padding: 0 20px
  }

  .modal {
      max-width: 100%;
      width: 100%;
      height: 100%;
      border-radius: 0
  }
}


input[type=range] {

  position: relative;
  background: #ccc;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  cursor: pointer
}

input[type=range]::-moz-range-track {
  position: relative;
  background: #ccc;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  cursor: pointer
}

input[type=range]:before {
  content: "";
  height: 2px;
  background: #f50;
  width: var(--range-progress);
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  position: absolute;
  top: 0;
  left: 0
}

input[type=range]::-moz-range-progress {
  background: #f50;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  height: 2px
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: none;
  background-color: #f50;
  cursor: pointer;
  position: relative
}

input[type=range]:active::-webkit-slider-thumb {
  transform: scale(1.2)
}

input[type=range]::-moz-range-thumb {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #f50;
  cursor: pointer;
  border: transparent;
  position: relative
}

input[type=range]:active::-moz-range-thumb {
  transform: scale(1.2)
}
